<div class="container">
  <div class="row justify-content-center" id="rainbow">
    <div class="rainbow">
      <div class="half-circle"></div>
      <div class="half-circleInner"></div>

      <div class="rainbowcloud1"></div>
      <div class="rainbowcloud2"></div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 text-center"><h1>rebecka elisabeth thyssen</h1></div>
    <div class="col-12 text-center" id="title">
      Tea-lover, music-addict & a<br />
      Data Technician Trainee specialising in Programming
    </div>
  </div>
</div>
