<div class="container" id="back">
  <div class="row justify-content-center" id="">
    <div class="col-6">
      <h1>
        Rebecka who?
      </h1>
      <div class="text">
        Originally working as a radiographer, a poor danish healthcare system
        planted a seed in my mind: If I changed direction in life, could I be
        able to develop something better? A few years later and I am now
        studying to become a data technician specialising in programming, a type
        of education where school is less and learning by doing as a real
        software developer is definitely more. I work full time at Odense
        Kommune in Denmark, maintaining and developing web applications for our
        employees.<br />
        <div class="smallerHeadline text-center">
          Currently learning...
        </div>
        <div class="row justify-content-center" id="logos">
          <div class="col-2 text-center">
            <img src="../../assets/C-Sharp-01(2).png" id="csharp" />
          </div>
          <div class="col-2 text-center">
            <img src="../../assets/angular-seeklogo.com.svg" id="ang" />
          </div>
          <div class="col-2 text-center">
            <img src="../../assets/typescript-seeklogo.com.svg" id="ts" />
          </div>
          <div class="col-2 text-center">
            <img
              src="../../assets/microsoft-sql-server-seeklogo.com.svg"
              id="mssql"
            />
          </div>
        </div>
        <div class="row justify-content-center" id="logos">
          <div class="col-4 text-center">
            <img src="../../assets/angularjs.svg" id="angjs" />
          </div>
          <div class="col-4 text-center">
            <img src="../../assets/output-onlinepngtools.png" id="sn" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img src="../../assets/Awaiting-Picture.png" id="photo" />
    </div>
  </div>
</div>
