<nav class="navbar navbar-expand-md navbar-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/home" routerLinkActive="active-link" class="nav-link"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active-link" class="nav-link"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/projects"
          routerLinkActive="active-link"
          class="nav-link"
          >Projects</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/resume" routerLinkActive="active-link" class="nav-link"
          >Resume</a
        >
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target=".dual-collapse2"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--<a class="navbar-brand mx-auto" href="#" id="headline">rebecka.me</a>-->
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://www.facebook.com/rebecka.thyssen/"
          target="_blank"
          ><i class="fa fa-facebook-square"></i
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://www.linkedin.com/in/rebeckathyssen"
          target="_blank"
          ><i class="fa fa-linkedin"></i
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://twitter.com/RebeckaThyssen"
          target="_blank"
          ><i class="fa fa-twitter"></i
        ></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row justify-content-center">
    <div class="cloud x1"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
  </div>
</div>

<!--<app-landingpage></app-landingpage>-->
<router-outlet></router-outlet>
