<div class="container" id="back">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1>
        Resume
      </h1>
    </div>
  </div>
  <!-- Experience -->
  <div class="row">
    <div class="col-12" id="headline">Experience</div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2">2019 - present</div>
    <div class="col-10">
      <div class="career">
        Data Technician Trainee specialising in Programming
      </div>
      <div class="subtitle">Odense Kommune</div>
      <div class="exp">
        Working in Odense Kommune I'm contributing to various exciting projects,
        new and old, both frontend and backend wise. My main goal is to become a
        better developer every day, but as a trainee I get a lot of
        opportunities to discover other aspects of the IT industry as well. I've
        seen:
        <li>What it's like working as a 1st- and 2nd level supporter</li>
        <li></li>
        <br />
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-2">2015 - 2018</div>
    <div class="col-10">
      <div class="career">
        Radiographer
      </div>
      <div class="subtitle">
        Hillerød Hospital, Hvidovre Hospital, Vejle Hospital
      </div>
      <div class="exp">
        Worked with several areas in the field such as:
        <li>CR/DR radiography</li>
        <li>Computed tomography-scans (CT)</li>
        <li>Magnetic resonance imaging (MRI)</li>
        <li>Assisting in ultrasound- and CT-guided biopsies</li>
        <li>Preparing software on DR-machines for a new healthcare system</li>
        <br />
      </div>
    </div>
  </div>

  <!-- Education-->
  <div class="row">
    <div class="col-12" id="headline">Education</div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2">2018 - present</div>
    <div class="col-10">
      <div class="career">
        Data Technician Trainee
      </div>
      <div class="subtitle">Syddansk Erhvervsskole, Odense</div>
      <div class="exp">
        Approx. 15 months of different IT related subjects including:
        <li>Network administration (Cisco)</li>
        <li>Servertechnology (Windows Server, Linux)</li>
        <li>Databases (MSSQL)</li>
        <li>Several object-oriented- and client side programmering subjects</li>
        <br />
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-2">2012 - 2015</div>
    <div class="col-10">
      <div class="career">
        Professional Bachelor Degree in Radiography
      </div>
      <div class="subtitle">University College Lillebælt, Odense</div>
      <div class="exp">
        A practical education that gave me a lot of experience from several
        hospitals in the areas of:
        <li>Individual care in radiographic practice</li>
        <li>
          X-ray modalities, nuclear medicine, magnetic resonance, ultrasound and
          complex examination procedures
        </li>
        <li>
          Quality assurance in radiological diagnostic imaging and quality
          development in clinical practice
        </li>
        <br />
      </div>
    </div>
  </div>

  <!-- Courses and certifications -->
  <div class="row">
    <div class="col-12" id="headline">Courses and certifications</div>
  </div>

  <div class="row">
    <div class="col-2">2020</div>
    <div class="col-10">
      <div class="course">
        ServiceNow Fundamentals
      </div>

      <br />
    </div>
    <div class="col-2">2019</div>
    <div class="col-10">
      <div class="course">
        Microsoft Technology Associate: Software Development Fundamentals
      </div>

      <br />
    </div>

    <div class="col-2">2018</div>
    <div class="col-10">
      <div class="course">
        Cisco Certified Network Associate: Routing & Switching (CCNA)
      </div>

      <br />
    </div>
  </div>
</div>
