#headline {
  //font-weight: bold;
  //font-size: 20px;
  border-bottom: solid rgb(182, 182, 182) 1px;
  //font-family: "Fredericka the Great", cursive;
}

.career {
  font-weight: bold;
}

.subtitle {
  font-style: italic;
}

.exp {
  font-size: 16px;
}
